*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: darkgrey;
}
.titlebar{
    text-align: center;
    padding: 5px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container div{
    width: 200px;
    margin: 10px;

}
